
body {
  background-color: rgba(175, 118, 74, 0.63);
  font-size: 150%;
  color: rgb(83, 21, 21);
  font-family: OCR A Std, monospace;
  text-align: center;
}

h1 {
  font-size: 175%;
}

#subheader {
  font-size: 135%;
  padding-top: 25px;
}

img {
  border: 1px solid black;
}

p {
  padding: 15px;
  padding-left: 27.5%;
  padding-right: 27.5%;
}
#song-list {
  padding: 20px;
}
