.center {
  text-align: center;
}
body {
  background-color: rgba(175, 118, 74, 0.63);
  font-size: 150%;
  color: rgb(83, 2, 2);
}

h1{
font-size: 175%;
padding: 5px;
}

.subheader{
  font-size: 125%;
  padding-bottom: 10px;
}

img{
  border:1px solid black;
}

p{
  padding: 20px;
  padding-left: 27.5%;
  padding-right: 27.5%;
}
.songlist{
  padding: 20px;
}
