
body {
  background-color: rgba(175, 118, 74, 0.63);
  font-size: 150%;
  color: rgb(83, 21, 21);
  font-family: OCR A Std, monospace;
  text-align: center;
}

h1 {
  font-size: 175%;
}

h2 {
  font-size: 135%;
  padding-bottom: 15px;
}

img {
  border: 1px solid black;
  margin: 10px;
}

p {
  padding: 15px;
  padding-left: 27.5%;
  padding-right: 27.5%;
}